@model IEnumerable<Biblioteca.Models.Avaliacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAvaliacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAvaliacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.LivroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AvaliacaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AvaliacaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AvaliacaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
